<div class="container">
  <div class="text-style">
    <h1>Employee Table App</h1>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th class="text-style">Total Time in Month</th>
        <th class="text-style">Actions</th>
      </tr>
    </thead>
    <tbody>     
      <tr *ngFor="let employee of employees" [ngClass]="{'highlighted': employee.employeeTotalTime < 100}">
        <td>{{ employee.EmployeeName }}</td>
        <td class="text-style">{{ employee.employeeTotalTime }}</td>
        <td class="text-style"><a href="#" (click)="editEmployee(employee)">Edit</a></td>
      </tr>
    </tbody>    
  </table>
  <div class="canvas-style">
    <canvas id="pieChart" width="500" height="500"></canvas>
  </div>
</div>